**Group By and Aggregate**

In [17]:
import pandas as pd

In [19]:
df = pd.read_csv(r"C:\Users\gerar\Downloads\Flavors.csv")
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [27]:
base_flavor = df.groupby('Base Flavor')
# Seleccionar solo columnas numéricas
numerical_columns = df.select_dtypes(include='number').columns

# Calcular la media solo para las columnas numéricas
base_flavor_mean = base_flavor[numerical_columns].mean()

In [29]:
base_flavor_mean

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [33]:
base_flavor_count = base_flavor[numerical_columns].count()
base_flavor_count

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate                3               3             3
Vanilla                  6               6             6

In [35]:
base_flavor.min()

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [37]:
base_flavor.max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [39]:
base_flavor.sum()

,Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,ChocolateRocky RoadChocolte Fudge Brownie,YesYesYes,25.2,21.7,47.1
Vanilla,Mint Chocolate ChipVanillaCookie DoughPistachi...,YesNoYesNoYesNo,34.2,33.9,68.1

In [45]:
df.groupby('Base Flavor').agg({'Flavor Rating': ['mean', 'count', 'min', 'max']})

            Flavor Rating
                     mean count  min   max
Base Flavor
Chocolate             8.4     3  8.2   8.8
Vanilla               5.7     6  2.3  10.0

In [47]:
df.groupby('Base Flavor').agg({'Flavor Rating': ['mean', 'count', 'min', 'max'], 'Texture Rating': ['mean', 'count', 'min', 'max']})

            Flavor Rating                  Texture Rating
                     mean count  min   max           mean count  min  max
Base Flavor
Chocolate             8.4     3  8.2   8.8       7.233333     3  7.0  7.6
Vanilla               5.7     6  2.3  10.0       5.650000     6  3.4  8.0

In [49]:
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [61]:
df.groupby(['Base Flavor', 'Liked']).count()

                   Flavor  Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes         3              3               3             3
Vanilla     No          3              3               3             3
            Yes         3              3               3             3

In [65]:
df.groupby('Base Flavor').describe()

            Flavor Rating                                             \
                    count mean       std  min    25%  50%  75%   max
Base Flavor
Chocolate             3.0  8.4  0.346410  8.2  8.200  8.2  8.5   8.8
Vanilla               6.0  5.7  2.710719  2.3  4.025  5.6  6.8  10.0

            Texture Rating            ...             Total Rating         \
                     count      mean  ...    75%  max        count   mean
Base Flavor                           ...
Chocolate              3.0  7.233333  ...  7.350  7.6          3.0  15.70
Vanilla                6.0  5.650000  ...  6.375  8.0          6.0  11.35


                  std   min     25%   50%     75%   max
Base Flavor
Chocolate    0.781025  15.2  15.250  15.3  15.950  16.6
Vanilla      4.263684   5.7   9.025  11.1  13.175  18.0

[2 rows x 24 columns]

In [67]:
df.groupby('Liked').describe()

      Flavor Rating                                              \
              count mean       std  min    25%  50%   75%   max
Liked
No              3.0  3.6  1.212436  2.3  3.050  3.8  4.25   4.7
Yes             6.0  8.1  1.274363  6.5  7.225  8.2  8.65  10.0

      Texture Rating            ...             Total Rating             \
               count      mean  ...    75%  max        count       mean
Liked                           ...
No               3.0  4.466667  ...  5.000  5.0          3.0   8.066667
Yes              6.0  7.033333  ...  7.475  8.0          6.0  15.166667


            std   min    25%    50%     75%   max
Liked
No     2.098412   5.7   7.25   8.80   9.250   9.7
Yes    2.016598  12.5  13.85  15.25  16.275  18.0

[2 rows x 24 columns]